<launch>
  <arg name="debug" default="False"/>
  <arg name="static_map_file"  default="$(find config_files)/maps/appartment.yaml"/>
  <arg name="initial_pose_x" default="0.5"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  
  <include file="$(find surge_et_ambula)/launch/justina/gazebo_simul/justina_hardware_gazebo.launch">
    <arg name="posx"  value="10.61"/>
    <arg name="posy"  value="11.24"/>
    <arg name="posz"  value="0.05"/>
    <arg name="yaw"   value="3.14"/>
    <arg name="world" value="appartment"/>
  </include>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find config_files)/rviz/vision_course.rviz"/>
  
  <node name="justina_gui" pkg="justina_gui" type="justina_gui_node" output="screen">
    <param name="la_predefined" value="$(find config_files)/justina/manipulation/la_predefined.yaml"/>
    <param name="ra_predefined" value="$(find config_files)/justina/manipulation/ra_predefined.yaml"/>
    <param name="hd_predefined" value="$(find config_files)/justina/manipulation/hd_predefined.yaml"/>
  </node>

  <include file="$(find surge_et_ambula)/launch/justina/gazebo_simul/justina_gazebo_controllers.launch"/>

  <include file="$(find surge_et_ambula)/launch/justina/navigation.launch"/>

  <!--node name="object_classification" pkg="object_classification" type="obj_classification_node.py" output="screen">
    <param name="model" value="$(find object_classification)/src/weights/TaRJustv3_ycb.pt"/>
  </node-->
</launch>
